{% extends "base.html" %}

{% block content %}

<p><b>Juan Ignacio Rodríguez de León</b> es Diplomado y Licenciado en
Informática por la <a href="http://www.ulpgc.es">Universidad de Las Palmas de
Gran Canaria</a>. Lleva tanto tiempo por aquí que puede recordar cuando un
Flash no era una tecnología multimedia, sino un helado que te dejaban la lengua
coloreada. Ha desarrollado en multitud de lenguajes: Basic, Ensamblador,
Pascal, C, C++, Java y Perl entre otros, pero desde hace tiempo su corazón está
con los lenguajes dinámicos y/o funcionales: Python, Scala, Ruby... Incluso
intentó entender Lisp, pero solo lo consiguió durante un día.  Fue un
jueves.</p>

<p>Convencido desde hace tiempo de las bondades del desarrollo ágil, el
software libre y la transparencia informativa, especialmente en el caso de las
administraciones públicas.  En cualquier caso, siempre está a la búsqueda de
nuevas herramientas, tecnologías o frameworks que le permitan hacer más cosas
con menos esfuerzo y en menos tiempo, y en explicárselo a cualquiera que pase
cerca y muestre el más mínimo interés. A veces, basta incluso con que pasen
cerca.</p>

<p>Cuando se acuerda, escribe en su blog <a href="http://www.elornitorrincoenmascarado.com/">El Ornitorrinco Enmascarado</a>.</p>

<p>Actualmente trabaja como analista en la unidad de informática del 
<a href="http://www.parcan.es/">Parlamento de Canarias</a>.</p>

{% endblock content %}
