{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" type="text/css" media="screen,projection" href="/static/minesweeper.css">
{% endblock styles %}

{% block javascript %}
    <script language="Javascript" src="/static/minesweeper.js"></script>

    
</script>
{% endblock javascript %}

{%block content %}
<h2 id="title">Minesweeper</h2>

<table border="0">
    {% for row in rows %} 
    <tr>
        {% for col in cols %}
        <td id="cell-{{ row }}x{{ col }}">{{ row }}&times;{{ col }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

{% endblock %}
